@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap");

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

html {
  font-size: 62.5%;
}

header {
  font-size: 4rem;
  height: 7rem;
  background-color: rgba(255, 255, 255, 0.937);
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url(https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/f0f7802227f957d3af0c338f/vbvbbv.jpg);
}

.outerdiv {
  width: 100%;
  height: 100%;
}

.innerdiv {
  position: absolute;
  left: 13%;
  top: 25%;
}

h1 {
  font-family: "Barlow", sans-serif;
  width: 45rem;
  color: aliceblue;
  font-size: 5rem;
}
p {
  width: 45rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(155, 90, 225, 0.883);
  font-size: 1.8rem;
  margin-top: 20px;
  line-height: 29px;
}

button {
  border: 1px solid rgb(104, 104, 127);
  margin-top: 30px;
  font-size: 2.5rem;
  border-radius: 70px;
  width: 20rem;
  height: 5rem;
  background-color: rgb(231, 37, 231);
  color: rgb(254, 240, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover {
  background-color: rgba(0, 255, 255, 0.752);
}

#img1 {
  position: absolute;
  right: 0;
  width: 50vw;
}

footer {
  background-color: rgb(43, 39, 39);
  height: 8rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
